block variable

section.settings
  .settings__avatar-container
    img.settings__avatar(src=avatarImage, alt="Аватар")
  form.settings__form-container.settings__form-container_padding-up(name="password-edit")
    .settings__input-container
      label.settings__label Старый пароль
      input.settings__input(
      type="password"
      name="oldPassword"
      placeholder="Старый пароль"
      )
    .settings__input-container
      label.settings__label Новый пароль
      input.settings__input(
      type="password"
      name="newPassword"
      placeholder="Новый пароль"
      )
    .settings__input-container
      label.settings__label Повторите новый пароль
      input.settings__input(
      type="password"
      name="submitPassword"
      placeholder="Повторите новый пароль"
      )
  .settings__button-container.settings__button-container_type-save
      button.settings__button.settings__button_type-save Сохранить
  a.settings__link(href=linkTo)
    .settings__link-img
